@import '../mixins';
@import '../variables';

.c-sheets-table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  &__row {
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  &__row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    background: #f8f9fa;
    position: relative;
  }

  &__row-resize {
    height: 4px;
    width: 100%;

    &:hover {
      cursor: row-resize;
    }  
  }

  &__col {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    height: 100%;
    position: relative;
  }

  &__col-resize {
    right: 0;
    height: 100%;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  &__col-resize, &__row-resize {
    position: absolute;
    bottom: 0;
    opacity: 0;
    background: $primary-color;

    &:hover {
      opacity: 1;
    } 
  }

  &__row-data {
    display: flex;
  }

  &__cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &--selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }
}